<h1>商品詳細</h1>

画像

<table>
  <th>商品名</th>
  <td></td>
  
  <th>商品説明</th>
  <td></td>
  
  <th>ジャンル</th>
  <td></td>
  
  <th>税込価格（税抜価格）</th>
  <td></td>
  
  <th>販売ステータス</th>
  <td></td>
  
  <td><%= link_to "編集する",edit_admin_item_path(item.id) %></td>
  
</table>