<h1>About</h1>
<a>ながのCAKEは全国発送可能なケーキ屋さんです。</a>
お子様からお年寄りの方までお召し上がりいただけるよう、
様々なバリデーションをご用意しております。
また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。
ぜひご注文ください。
<div class="row justify-content-md-center">
  <div class="col-md-9">
<table class="table table-bordered">